.FileBrowser {
  min-width: 100px;
  width: 300px;
  resize: horizontal;
  overflow: auto;
  position: relative;
  contain: size;
}

.fileList {
  min-height: min-content;
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
