.App {
  text-align: center;
  transition: background-color 0.3s ease-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

.App.dark-theme {
  background-color: #263238;
  color: rgba(238, 255, 255, 1);
  --text-color: rgba(238, 255, 255, 0.8);
  --text-color-full: rgba(238, 255, 255, 1);
}

.App.dark-theme .mdl-snackbar {
  background-color: #37474f;
}

.App.dark-theme .mdl-tooltip {
  background: #37474f;
}

.App.light-theme {
  background-color: #fafafa;
  color: #767777;
  --text-color: #767777;
  --text-color-full: black;
}

.App.light-theme .mdl-snackbar {
  background-color: #e0e0e0;
}

.App .mdl-snackbar > .mdl-snackbar__text {
  color: var(--text-color);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
