.TitleBar {
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 28px;
}

.TitleBar.p_darwin {
  padding-left: 64px;
}

.TitleBar.p_linux {
  display: none;
}

.TitleBar > .content {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  line-height: 28px;
  flex-grow: 1;
  padding-left: 10px;
}
.TitleBar > .buttons {
  display: flex;
}

.TitleBar > .buttons > span {
  padding: 5px 10px;
}

.TitleBar > .buttons > span:hover {
  background-color: #8884;
  cursor: pointer;
}

.TitleBar > .buttons .mdi-window-close:hover {
  background-color: #f444;
}

.TitleBar > .buttons > .separator {
  margin-right: 20px;
}
