.Item {
  --indent: 10px;
  list-style-type: none;
  text-align: left;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  transition: height 0.3s linear;
}

:global(.App.dark-theme) .Item {
  color: rgba(238, 255, 255, 0.65);
}

:global(.App.dark-theme) .Item.active {
  color: white;
}

.Item > ol {
  margin: 0px;
  padding-left: var(--indent);
}

.Item .title::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 28px;
}

.Item.active .title::before {
  background-color: #8883;
}

.Item:hover > .title::before {
  background-color: #8881;
}

.Item > .title:hover::before {
  background-color: #8882;
}

.Item .title {
  height: 28px;
  line-height: 28px;
}

.Item .title span {
  margin-left: var(--indent);
}

.Item .title span:first-child {
  margin-left: 0px;
}

.Item .hidden {
  color: #0000;
}
