.mdl-tabs {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  contain: size;
}
.mdl-tabs__panel.is-active {
  flex-grow: 1;
  display: flex !important;
  contain: size;
}

.mdl-tabs__tab-bar {
  justify-content: flex-start;
}
.App.dark-theme .mdl-tabs__tab-bar {
  border-bottom-color: transparent;
}
.mdl-tabs__tab {
  text-transform: none;
}
.App.dark-theme .mdl-tabs__tab {
  color: var(--text-color);
}
.App.dark-theme .mdl-tabs__tab.is-active {
  color: var(--text-color-full);
}
