.mdl-textfield {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 3.8em;
}

.mdl-textfield__input {
  outline: none;
  border-color: #0000;
  font-family: monospace;
}
