---
---

@import '{{ site.theme }}';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,600&display=swap');

$break-small: 1000px;

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  align-items: stretch;
  color: #546e7a;
  background-color: #f8f8f8;
  .thin {
    font-weight: 100;
  }
  .sidebar {
    $unselected: #CFD8DC;
    $hover: #ECEFF1;
    $selected: #fff;
    color: #d5dae6;
    background-color: #37474f;
    width: 0px;
    padding: 26px;
    padding-right: 0px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    transition: min-width 0.13s linear;
    overflow: hidden;
    &.toggled {
      min-width: 0px;
    }
    @media screen and (max-width: $break-small) {
      position: absolute;
      min-width: 0px;
      height: 100vh;
      &.toggled {
        min-width: 300px;
      }
    }
    .header {
      color: $selected;
      padding-left: 18px;
      a {
        color: $hover;
        text-decoration: none;
      }
      .title {
        font-size: 24px;
        font-weight: 600;
        a {
          color: $selected;
        }
      }
    }
    .top-section {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      a {
        color: $unselected;
        font-size: 14px;
        padding: 3px;
        padding-left: 15px;
        border-left: 3px solid transparent;
        transition: border-left 0.1s linear, color 0.1s linear;
        font-weight: 300;
        text-transform: uppercase;
      }
      a:hover {
        color: $hover;
        text-decoration: none;
        border-left-color: #2196f3aa;
      }
      a.selected {
        color: $selected;
        border-left-color: #2196f3ff;
      }
    }
    .main-section {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: 30px;
      a {
        color: $unselected;
        font-size: 14px;
        padding: 3px;
        padding-left: 15px;
        border-left: 3px solid transparent;
        transition: color 0.1s linear;
        font-weight: 300;
      }
      a:hover {
        color: $hover;
        text-decoration: none;
      }
      a.selected {
        color: $selected;
      }
    }
  }
  .main-content {
    overflow-y: scroll;
    flex-grow: 2;
    width: 64rem;
    h1 {
      color: #43a047;
    }
    h2 {
      color: #4caf50;
    }
    h3 {
      color: #66bb6a;
    }
    h4,
    h5,
    h6 {
      color: #81c784;
    }
    a {
      color: #1e88e5;
    }
    @media screen and (max-width: $break-small) {
      margin-left: 25px;
    }
    .site-footer {
      margin-bottom: 30px;
      .site-footer-credits {
        color: #78909c;
      }
      * {
        font-weight: 300;
      }
    }
  }
}
